@import 'variables';
@import 'mixins';


.personal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    font-size: large;
    font-family: fantasy;
  }

.personal-texto { 
   
     padding: 0 auto;
     text-align: center;
     font-size: 50px;
     font-family: fantasy;
     align-items: center;
}

