@import 'variables';
@import 'mixins';

.formulario { 
     display: flex;
     flex-direction: column ;
     padding: 60px;
     font-size: 19px;
     align-items: flex ;
     gap: 13px;
     color: #694422;
    
}


.texto-formulario { 
       font-size: 25px bold;
       text-align: center;
       align-items: center;
       color: #694422;

}


